#game-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px;
}

.hole {
    width: 100px;
    height: 100px;
    background-color: #654321;
    border-radius: 50%;
    position: relative;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.rat, .hammer {
    max-width: 80px;
    max-height: 80px;
    border-radius: 50%;
    display: none;
}
